@model IEnumerable<SoundBeatsV2.Core.Domain.Album>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Discografía de @ViewBag.ArtistName</h1>

<p class="text-justify mt-5">@ViewBag.ArtistBiography</p>

<hr />

<p>
    <a asp-action="Create" class="btn btn-info"><i class="fas fa-compact-disc"></i>&nbsp; Nuevo album</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoCover)
            </th>
            <th>Canciones</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoCover)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-headphones"></i>&nbsp; Detalles</a>
            </td>
            
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"
                       data-toggle="tooltip" data-placement="top" title="Edición de Álbum"><i class="fas fa-edit"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"
                       data-toggle="tooltip" data-placement="top" title="Borrar Álbum"><i class="fas fa-trash-alt"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
